<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link media="screen" href="~/css/main.css" type="text/css" rel="stylesheet">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <script src=~/js/common.js></script>
    <title>Agentless Integration Kit .NET Sample IdP</title>
</head>
<body>
     @RenderBody()
</body>
</html>